.footer {
    background-color: rgba(118, 118, 118, 0.63);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}