.main {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: #334155;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;

    .enviar {
        margin: 0.7rem;
        cursor: pointer;
        border-radius: 0.5rem;
    }

}

.divs {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        font-size: 1.1rem;
        color: white;
        margin: 0.3rem;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
    }

    input {
        border-radius: 0.3rem;
        background-color: rgba(255, 255, 255, 0.668);
        transition: background-color 0.3s ease;
    }

    input:hover {
        background-color: rgba(255, 255, 255, 0.478);
    }

    textarea {
        background-color: rgba(255, 255, 255, 0.668);
        transition: background-color 0.3s ease;
        border-radius: 0.5rem;
        box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
    }

    textarea:hover {
        background-color: rgba(255, 255, 255, 0.478);
    }

    p {
        margin: 0;
    }
}

.div0 {
    display: flex;
    justify-content: center;
    color: white;

    h2 {
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: burlywood;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
        font-size: 2rem;
        margin: 0;
    }
}

.war {
    filter: contrast(80%);
    width: 16%;
    margin-top: 1rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}

.war2 {
    filter: contrast(80%);
    width: 16%;
    margin-top: 1rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .war,
    .war2 {
        display: none;
    }
}