.main {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    justify-content: center;
}

.form {
    background-color: #334155;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    width: 20rem;
    display: grid;
    justify-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;

    h1 {
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: burlywood;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
        font-size: 2rem;
    }

    label {
        font-size: 1.1rem;
        margin: 0.2rem;
        color: white;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
    }

    p {
        margin: 0;
    }

    input {
        border-radius: 0.3rem;
        background-color: rgba(255, 255, 255, 0.668);
    }

    .enviar {
        cursor: pointer;
        border-radius: 0.5rem;
    }

    h3 {
        border-radius: 0.5rem;
        padding: 0.5rem;
        background-color: rgba(0, 0, 0, 0.356);
        transition: background-color 0.3s ease;
    }

    h3:hover {
        background-color: rgba(0, 0, 0, 0.179);
    }
}

.war {
    filter: contrast(80%);
    width: 16%;
    margin-top: 1rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}

.war2 {
    filter: contrast(80%);
    width: 16%;
    margin-top: 1rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}