a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;

    span {
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
    }
}

a:hover {
    color: burlywood;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.234);
    color: white;
    padding: 1rem;
    align-items: center;
}

.links {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.active span {
    color: burlywood;
}

.avatar {
    width: 3.5rem;
    border-radius: 10rem;
    margin: 0 1.5rem 0 1rem;
    aspect-ratio: 1/1;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}

.logo {
    width: 11rem;
    margin: 0 1.5rem 0 1rem;
    border-radius: 1.5rem;
    aspect-ratio: 3/1;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}