a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    color: burlywood;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.234);
    color: white;
    padding: 1rem;
    align-items: center;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}

.container span {
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.container span:hover {
    color: burlywood;
}

.links {
    gap: 1rem;
    display: flex;
    align-items: center;
}

.active span {
    color: burlywood;
}

.avatar {
    width: 3.6rem;
    border-radius: 10rem;
    margin: 0 1.5rem 0 1rem;
    aspect-ratio: 1/1;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}

.logo {
    width: 11rem;
    margin: 0 1.5rem 0 1rem;
    border-radius: 1.5rem;
    aspect-ratio: 3/1;
    box-shadow: 0 0.1rem 0.2rem #00000033, 0 0.1rem 0.5rem #0000004d, 0 0.2rem 1.5rem #00000066;
}

.cursor {
    cursor: pointer;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }

    .hamburgerMenu {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 30px;
        color: white;
        z-index: 1010;
    }
}

@media (min-width: 769px) {
    .hamburgerMenu {
        display: none;
    }
}

.hamburgerMenu img {
    width: 40px;
    height: 40px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: #363333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.close {
    border-radius: 0.3rem;
    color: white;
    background-color: rgba(255, 0, 0, 0.504);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebarContent {
    padding: 20px;
}

.sidebarContent a,
.sidebarContent span {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.sidebarContent a:hover {
    color: burlywood;
}

@media (min-width: 769px) {
    .sidebar {
        display: none;
    }
}